.wrapper {
    margin-top: 70px;
    padding-bottom: 120px;
}

.title {
    padding: 12px 0 16px 0;
}

.card {
    margin: 0 auto;
}

.images {
    transition: transform 0.2s ease-in-out;
  }
  
.images:hover {
    transform: scale(1.1);
  }