.wrapper {
    padding-top: 133px;
    margin: 0 auto;
}

.container {
    max-width: 1320px;
    min-height: 380px;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #f7941d;
}




.title__text {
    font-size: 30px;
}

.col {
    text-align: center;
    padding-top: 34px;
    color: #f7941d;
    min-height: 400px;
    
}

.col:hover {
    cursor: pointer;
    color: #0a466f;
}


.col:hover > img {
    transition: transform 0.45s ease-in-out;
    transform: scale(1.1);

}

.col__link {
    text-decoration: none;
    color: #f7941d;
}

.col__link:hover {
    cursor: pointer;
    color: #0a466f;
}

.item__name{
    display: block;
    min-height: 100px;
    
}