.wrapper {
    background-color: #0a466f;
    text-align: center;
}

.dContainer {
    padding: 12px;
    max-width: 270px;
    margin: 0 auto;
}

.dContainer:hover {
    background-color: #F7941D;
    cursor: pointer;
}

.dImg {
    padding-top: 12px;
}

.dTitle {
    font-size: 24px;
    font-weight: 500;
    color: white;
}