.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    
    
}

.headeNavbar {
    background-color: #0a466f;
    border-bottom: 3px solid white;
    min-height: 130px;
    
}

.dropdown {
    padding-left: 30px;
}

.links {    
    margin-left: 30px;
}