@font-face {
	font-family: 'Montserrat';
	src: url('../public/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
.App {
    font-family: 'Montserrat', sans-serif;
}

.carousel-indicators {
	display: none !important;
}